<li id="<%= dom_id task %>" class="py-2">
  <%= form_with(model: [task.list, task], class: "flex") do |form| %>
    <%= form.check_box :completed, class: "mr-2" %>
    <%= task.description %>
  <% end %>
</li>
